<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Aggregation Data Fitter</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="bootstrap/theme.css" rel="stylesheet">
    <!-- Custom styles for this app -->
    <link href="bootstrap/orimon.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="bootstrap/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <!-- top navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Aggregation Data Fitter</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="m_home" class="topnav_btn active"><a class="clickable">Home</a></li>
            <li id="m_instructions" class="topnav_btn"><a class="clickable">Instructions</a></li>
            <li id="m_about" class="topnav_btn"><a class="clickable">About</a></li>
            <li id="m_contact" class="topnav_btn"><a class="clickable">Contact</a></li>
            <li class="dropdown">
              <a class="clickable dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Software <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!--li><a href="../cleaner">Aggregation Data Cleaner</a></li-->
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">For Download</li>
                <li><a href="http://www.reichmannlab.com/softwares">Predictor of Hsp33-binding peptides</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- bottom bar -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.reichmannlab.com" text-align="center"><font size=3>Created by Oded Rimon, Reichmann Lab, HUJI, Jerusalem, Israel, 2016</font></a>
        </div>
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Kfits: Fit Aggregation Data</h1>
        <p>Fit aggregation kinetics to measured data, e.g. light scattering at 360nm or ThT dye fluorescence shift.<br>
        See instructions for file format requirements etc.</p>
      </div>


      <div class="page-header">
        <h1>Load Data</h1>
      </div>
        <form enctype="multipart/form-data">
            {% csrf_token %}
            <input id="fdata" name="fdata" type="file" class="btn btn-primary" style="display:inline-block;" />
            <button id="upload" type="button" class="btn btn-primary">Upload</button>
            <input type="text" name="input_path" id="input_path" class="hidden" value="{{ tmp_file }}" style="width:70%" autocomplete="off" placeholder="Input File Path" />
            <!--button id="input_check" type="button" class="btn btn-primary">Check</button -->
            <!--button id="input_run" type="button" class="btn btn-success">Run</button -->
            <button id="input_clear" type="button" class="btn btn-danger">Clear</button>
        </form>
      <br></p><p>
        <span id="input_message_user" class="hidden" role="alert"></span>
      </p>
      Model: <select id="model_choice">
          <option value="auto" selected="selected">Automatic Best Model</option>
          <option value="basic">Basic One-site Binding</option>
          <option value="nucleation_elongation">Nucleation-Elongation Model</option>
      </select>

      <div class="page-header">
        <h1>Progress</h1>
      </div>
      <div class="progress">
        <div id="total_progress" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;"><span class="sr-only">0% Complete</span></div>
      </div>

      <div class="page-header">
        <h1>Data Analysis</h1>
      </div>
      <ul class="nav nav-pills" role="tablist">
          <li id="fig_b_orig" role="presentation" class="fig_badge active"><a class="clickable">Original</a></li>
          <li id="fig_b_filt" role="presentation" class="fig_badge"><a class="clickable">Filtered</a></li>
          <li id="fig_b_fit" role="presentation" class="fig_badge"><a class="clickable">Fit</a></li>
      </ul>
      <div id="fig_h_orig" class="fig_head">
          <span id="fig1"></span>
          <div id="top_dragline1" class="smallcirc" style="background-color:darkgreen; display:none;"></div>
          <div id="top_dragline2" class="smallcirc" style="background-color:darkgreen; display:none;"></div>
          <div id="top_dragline3" class="smallcirc" style="background-color:darkgreen; display:none;"></div>
          <svg style="position:absolute;height:600px;width:900px;left:0;top:0;">
              <g>
                <path id="top_dragline" style="stroke:darkgreen;fill:none;" d="">
              </g>
          </svg>
          <div id="bottom_dragline1" class="smallcirc" style="background-color:darkred; display:none;"></div>
          <div id="bottom_dragline2" class="smallcirc" style="background-color:darkred; display:none;"></div>
          <div id="bottom_dragline3" class="smallcirc" style="background-color:darkred; display:none;"></div>
          <svg style="position:absolute;height:600px;width:900px;left:0;top:0;">
              <g>
                <path id="bottom_dragline" style="stroke:darkred;fill:none;" d="">
              </g>
          </svg>
          <button id="gross_filter" type="button" class="btn btn-success btn-offig" style="display:none;">Filter Datapoints Above Green Line and Below Red Line</button>
      </div>
      <div id="fig_h_filt" class="fig_head">
          <span id="fig2"></span>
          <div id="approx_start" style="position:absolute;display:none;left:90px;top:0px;">
              <svg style="width:900px;height:600px;">
                  <g>
                    <path id="approx_start_p" style="stroke:#cccccc;fill:none;stroke-dasharray:4;stroke-width:3;" d="M 0 0 l 0 600"></path>
                    <text x="5" y="550" fill="#cccccc">
                        <tspan dx="0">Approx.</tspan>
                        <tspan dx="-53" dy="20">Kinetics</tspan>
                        <tspan dx="-53" dy="20">Start</tspan>
                    </text>
                  </g>
              </svg>
          </div>
          <button id="fit_data" type="button" class="btn btn-warning btn-offig" style="width:900px;display:none;">Fit Data</button>
      </div>
      <div id="fig_h_fit" class="fig_head">
          <span id="fig3"></span>
      </div>

      <div class="page-header">
        <h1>Results</h1>
      </div>

      <div id="results" class="row">
        <div class="col-md-6">
            Noise Threshold:&nbsp;&nbsp;&nbsp;&nbsp;<input id="threshold" style="width:50px;" value="15" />
            <button id="clean_data" type="button" class="btn btn-info" style="width:100%;">Clean Data</button>
            <div id="fig4" style="margin-top:10px;"></div>
            <button id="get_clean_data" type="button" class="btn btn-success" style="width:100%;">Download Clean Data</button>
        </div>
        <div class="col-md-6">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Property</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>V<sub>max</sub></td>
                  <td id="vmax"></td>
              </tr>
              <tr>
                  <td>t<sub>&#189;</sub></td>
                  <td id="thalf"></td>
              </tr>
              <tr>
                  <td>t<sub>1</sub> (kinetics start)</td>
                  <td id="t1"></td>
              </tr>
              <tr>
                  <td>t<sub>2</sub> (kinetics end)</td>
                  <td id="t2"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="page-header"></div>

    </div> <!-- /container -->

    <div class="overall">
        <div id="instructions" class="well message">
            <div class="page-header">
                <h1>Instructions</h1>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
        <div id="about" class="well message">
            <div class="page-header">
                <h1>About</h1>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
        <div id="contact" class="well message">
            <div class="page-header">
                <h1>Contact Details</h1>
            </div>
            <p>This software package was written by Oded Rimon, at Dr. Dana Reichmann's Lab.<br>
               <br><u>The Lab is Located at:</u><br>
               Dept. of Biological Chemistry, room 1-626<br>
               The Alexander Silberman Institute of Life Science<br>
               The Hebrew University of Jerusalem<br>
               Givat Ram Campus, Jerusalem, 91904, Israel<br>
               Tel: (+972) 2-658-5703<br>
               <br><u>Email us at:</u><br>
               Oded: <span id="email_oded"></span><br>
               Dana: <span id="email_dana"></span>
            </p>
        </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <!-- JQuery -->
    <script language="javascript" src="bootstrap/js/jquery.js"></script>
    <script language="javascript" src="bootstrap/js/jquery-ui.js"></script>

    <!-- Bootstrap -->
    <script>window.jQuery || document.write('<script src="bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Local Code -->
    <script language="javascript" src="bootstrap/js/fitter.js"></script>
    <script language="javascript"><!--
        $(document).ready(function() {
            var MAX_UPLOAD_SIZE = 30*1024*1024;
            $.ajaxSetup({ cache: false });

            $.get('backend?function=get_email_oded', function(data) {
                $('#email_oded').html(data.replace('123','@'));
            })
            $.get('backend?function=get_email_dana', function(data) {
                $('#email_dana').html(data.replace('123','@'));
            })

            $('.smallcirc').draggable({
                containment: "#fig_h_orig",
                drag: function() {
                    coords = get_clean_coords('top');
                    $('#top_dragline').attr('d','M ' + coords.x1 + ' ' + coords.y1 + ' L ' + coords.x2 + ' ' + coords.y2 + ' L ' + coords.x3 + ' ' + coords.y3);
                    coords = get_clean_coords('bottom');
                    $('#bottom_dragline').attr('d','M ' + coords.x1 + ' ' + coords.y1 + ' L ' + coords.x2 + ' ' + coords.y2 + ' L ' + coords.x3 + ' ' + coords.y3);
                }
            });
            $('#approx_start').draggable({
                stop: function() {
                    $(this).css('top','0px');
                    var left = $(this).css('left');
                    if (left.substr(0,1) == '-') {
                        $(this).css('left','0px');
                    } else if (left.slice(0,-2) > 900) {
                        $(this).css('left','900px');
                    }
                }
            });
            $(':file').change(function(){
                var file = this.files[0];
                var size = file.size;
                var type = file.type;
                if (size > MAX_UPLOAD_SIZE) {
                    message_user("<strong>Notice!</strong> You are about to upload a file bigger than what the system can handle!", "warning");
                    $("#fdata").attr("class", "btn btn-warning");
                } else if ((type != 'text/plain') && (type != 'application/vnd.ms-excel')) {
                    if (type == "") {
                        type = "UNKNOWN FILETYPE";
                    }
                    message_user("<strong>Notice!</strong> The file you are about to upload is in a format the system cannot handle ("+type+")", "warning");
                    $("#fdata").attr("class", "btn btn-warning");
                } else {
                    clear_user_message();
                    $("#fdata").attr("class", "btn btn-primary");
                }
            });
            $('#upload').click(function(){
                    var formData = new FormData($('form')[0]);
                    $.ajax({
                        url: 'upload_text.htm',
                        type: 'POST',
                        xhr: function() {  // Custom XMLHttpRequest
                            var myXhr = $.ajaxSettings.xhr();
                            if (myXhr.upload) { // Check if upload property exists
                                myXhr.upload.addEventListener('progress', function(e) {
                                    if(e.lengthComputable){
                                        //$('').attr({value:e.loaded,max:e.total});
                                        set_progress($('#total_progress'), 33.33*e.loaded/e.total, 'Data Loading');
                                    }
                                }, false); // For handling the progress of the upload
                            }
                            return myXhr;
                        },
                        //Ajax events
                        beforeSend: function() {},
                        success: function(data) {
                            if (data != false) {
                                $("#input_path").val(data);
                                check_input_file(data, function(is_good, reason) {
                                    if (is_good) {
                                        $('#fdata').attr('class', 'btn btn-success');
                                        run_analysis();
                                    } else {
                                        $('#fdata').attr('class', 'btn btn-danger');
                                        message_user("<strong>Cannot Load File!</strong> " + reason, "danger");
                                    }
                                });
                            }
                        },
                        error: function() { console.log("ERROR"); },
                        // Form data
                        data: formData,
                        //Options to tell jQuery not to process data or worry about content-type.
                        cache: false,
                        contentType: false,
                        processData: false
                    });
            });
            $('#input_clear').bind('click', function() {
                $('#fdata').val("");
                $('#fdata').attr("class", "btn btn-primary");
                $('#input_path').val("");
                input_cleanup();
                fig_cleanup();
            });
            $('#input_path').on('change keypress keyup paste', function() {
                input_cleanup();
            });
            $('#gross_filter').bind('click', function() {
                if (is_ok_to_run()) {
                    coords = get_clean_coords('top');
                    var text_top_coords = '(' + coords.x1 + ',' + coords.y1 + '),(' + coords.x2 + ',' + coords.y2 + '),(' + coords.x3 + ',' + coords.y3 + ')';
                    coords = get_clean_coords('bottom');
                    var text_bottom_coords = '(' + coords.x1 + ',' + coords.y1 + '),(' + coords.x2 + ',' + coords.y2 + '),(' + coords.x3 + ',' + coords.y3 + ')';
                    $('#fig2').html('<img src="backend?function=plot_data&fnames=' + $('#input_path').val() + '&threshold_points=' + text_top_coords + '&rev_threshold_points=' + text_bottom_coords + '">');
                    $('#approx_start').show();
                    $('#fig_b_filt').click();
                    $('#fit_data').show();
                    set_progress($('#total_progress'), 66.67, 'Outliers Filtered');
                }
            });
            $('.fig_badge').bind('click', function() {
                var this_id = $(this)[0].id;
                var head_id = '#fig_h_' + this_id.substr(6);
                $('.fig_badge').removeClass('active');
                $('.fig_head').hide();
                $(this).addClass('active');
                $(head_id).show();
            });
            $('#fit_data').bind('click', function() {
                coords = get_clean_coords('top');
                var text_top_coords = '(' + coords.x1 + ',' + coords.y1 + '),(' + coords.x2 + ',' + coords.y2 + '),(' + coords.x3 + ',' + coords.y3 + ')';
                coords = get_clean_coords('bottom');
                var text_bottom_coords = '(' + coords.x1 + ',' + coords.y1 + '),(' + coords.x2 + ',' + coords.y2 + '),(' + coords.x3 + ',' + coords.y3 + ')';
                $('#fig3').html('<img src="backend?function=fit_data&fnames=' + $('#input_path').val() + '&model=' + $('#model_choice').val() + '&threshold_points=' + text_top_coords + '&rev_threshold_points=' + text_bottom_coords + '&approx_start=' + $('#approx_start').css('left').slice(0,-2) + '">');
                $('#fig_b_fit').click();
                set_progress($('#total_progress'), 100, 'Fitting Done!');
            });
            $('.topnav_btn').bind('click', function() {
                $('.topnav_btn').removeClass('active');
                $(this).addClass('active');
                if ($(this)[0] == $('#m_home')[0]) {
                    $('.overall').hide();
                } else {
                    $('.overall').show();
                }
                $('.message').hide();
                if ($(this)[0] == $('#m_instructions')[0]) {
                    $('#instructions').show();
                } else if ($(this)[0] == $('#m_about')[0]) {
                    $('#about').show();
                } else if ($(this)[0] == $('#m_contact')[0]) {
                    $('#contact').show();
                }
            });
            $('#clean_data').bind('click', function() {
                coords = get_clean_coords('top');
                var text_top_coords = '(' + coords.x1 + ',' + coords.y1 + '),(' + coords.x2 + ',' + coords.y2 + '),(' + coords.x3 + ',' + coords.y3 + ')';
                coords = get_clean_coords('bottom');
                var text_bottom_coords = '(' + coords.x1 + ',' + coords.y1 + '),(' + coords.x2 + ',' + coords.y2 + '),(' + coords.x3 + ',' + coords.y3 + ')';
                // $.getJSON('backend?function=clean_data&fnames=' + $('#input_path').val() + '&model=' + $('#model_choice').val() + '&noise_threshold=' + $('#threshold').val() + '&threshold_points=' + text_top_coords + '&rev_threshold_points=' + text_bottom_coords + '&approx_start=' + $('#approx_start').css('left').slice(0,-2), function(data) {
                $.getJSON('backend?function=clean_data_optimise_noise_threshold&fnames=' + $('#input_path').val() + '&model=' + $('#model_choice').val() + '&threshold_points=' + text_top_coords + '&rev_threshold_points=' + text_bottom_coords + '&approx_start=' + $('#approx_start').css('left').slice(0,-2), function(data) {
                    d = data[0];
                    $('#fig4').html(d[0]);
                    $('#threshold').val(d[1]);
                    $('#vmax').html(d[2]);
                    $('#thalf').html(d[3]);
                    $('#t1').html(d[4]);
                    $('#t2').html(d[5]);
                });
            });
            $('#get_clean_data').bind('click', function() {
                coords = get_clean_coords('top');
                var text_top_coords = '(' + coords.x1 + ',' + coords.y1 + '),(' + coords.x2 + ',' + coords.y2 + '),(' + coords.x3 + ',' + coords.y3 + ')';
                coords = get_clean_coords('bottom');
                var text_bottom_coords = '(' + coords.x1 + ',' + coords.y1 + '),(' + coords.x2 + ',' + coords.y2 + '),(' + coords.x3 + ',' + coords.y3 + ')';
                window.location = 'backend?function=get_clean_data&fnames=' + $('#input_path').val() + '&model=' + $('#model_choice').val() + '&noise_threshold=' + $('#threshold').val() + '&threshold_points=' + text_top_coords + '&rev_threshold_points=' + text_bottom_coords + '&approx_start=' + $('#approx_start').css('left').slice(0,-2) + '&output_fnames=' + $('#fdata').get(0).files[0].name + '_clean.csv';
            });
        });
    //  --></script>
  </body>
</html>
