<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Aggregation Data Fitter</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="bootstrap/theme.css" rel="stylesheet">
    <!-- Custom styles for this app -->
    <link href="bootstrap/orimon.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="bootstrap/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <!-- top navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Aggregation Data Fitter</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="m_home" class="topnav_btn active"><a class="clickable">Home</a></li>
            <li id="m_instructions" class="topnav_btn"><a class="clickable">Instructions</a></li>
            <li id="m_about" class="topnav_btn"><a class="clickable">About</a></li>
            <li id="m_contact" class="topnav_btn"><a class="clickable">Contact</a></li>
            <li class="dropdown">
              <a class="clickable dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Software <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!--li><a href="../cleaner">Aggregation Data Cleaner</a></li-->
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">For Download</li>
                <li><a href="http://www.reichmannlab.com/softwares">Predictor of Hsp33-binding peptides</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- bottom bar -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.reichmannlab.com" text-align="center"><font size=3>Created by Oded Rimon, Reichmann Lab, HUJI, Jerusalem, Israel, 2016</font></a>
        </div>
      </div>
    </nav>

    <div class="sidenav">
        <div class="rotated90" style="height: 100px; top: calc(50% + 50px); left: 15px;">
            <h1 style="color: #ccc; position: relative; left: 100%;">Progress</h1>
            <div class="progress" style="width: 400px;">
                <div id="total_progress" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;"><span class="sr-only">0% Complete</span></div>

            </div>
        </div>
    </div>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Kfits: Fit Aggregation Data</h1>
        <p>Fit aggregation kinetics to measured data, e.g. light scattering at 360nm or ThT dye fluorescence shift.<br>
        See instructions for file format requirements etc.</p>
      </div>


      <div class="page-header">
        <h1>Input and Parameters</h1>
      </div>
        <form enctype="multipart/form-data">
            {% csrf_token %}
            <input id="fdata" name="fdata" type="file" class="btn btn-primary" style="display:inline-block;" />
            <button id="upload" type="button" class="btn btn-primary">Upload</button>
            <input type="text" name="input_path" id="input_path" class="hidden" value="{{ tmp_file }}" style="width:70%" autocomplete="off" placeholder="Input File Path" />
            <!--button id="input_check" type="button" class="btn btn-primary">Check</button -->
            <!--button id="input_run" type="button" class="btn btn-success">Run</button -->
            <button id="input_clear" type="button" class="btn btn-danger">Clear</button>
        </form>
      <br></p><p>
        <span id="input_message_user" class="hidden" role="alert"></span>
      </p>
      Model: <select id="model_choice">
          <option value="auto" selected="selected">Automatic Best Model</option>
          <option value="basic">Basic One-site Binding</option>
          <option value="nucleation_elongation">Nucleation-Elongation Model</option>
      </select>

      <div class="page-header">
        <h1>Data Analysis</h1>
      </div>
      <ul class="nav nav-pills" role="tablist">
          <li id="fig_b_orig" role="presentation" class="fig_badge active"><a class="clickable">Original</a></li>
          <li id="fig_b_filt" role="presentation" class="fig_badge"><a class="clickable">Filtered</a></li>
          <li id="fig_b_fit" role="presentation" class="fig_badge"><a class="clickable">Fit</a></li>
      </ul>
      <div id="fig_h_orig" class="fig_head">
          <span id="fig1"></span>
          <div id="top_dragline1" class="smallcirc" style="background-color:darkgreen; display:none;"></div>
          <div id="top_dragline2" class="smallcirc" style="background-color:darkgreen; display:none;"></div>
          <div id="top_dragline3" class="smallcirc" style="background-color:darkgreen; display:none;"></div>
          <svg style="position:absolute;height:600px;width:900px;left:0;top:0;">
              <g>
                <path id="top_dragline" style="stroke:darkgreen;fill:none;" d="">
              </g>
          </svg>
          <div id="bottom_dragline1" class="smallcirc" style="background-color:darkred; display:none;"></div>
          <div id="bottom_dragline2" class="smallcirc" style="background-color:darkred; display:none;"></div>
          <div id="bottom_dragline3" class="smallcirc" style="background-color:darkred; display:none;"></div>
          <svg style="position:absolute;height:600px;width:900px;left:0;top:0;">
              <g>
                <path id="bottom_dragline" style="stroke:darkred;fill:none;" d="">
              </g>
          </svg>
          <button id="gross_filter" type="button" class="btn btn-success btn-offig" style="display:none;">Filter Datapoints Above Green Line and Below Red Line</button>
      </div>
      <div id="fig_h_filt" class="fig_head">
          <span id="fig2"></span>
          <div id="approx_start" style="position:absolute;display:none;left:90px;top:0px;">
              <svg style="width:900px;height:600px;">
                  <g>
                    <path id="approx_start_p" style="stroke:#cccccc;fill:none;stroke-dasharray:4;stroke-width:3;" d="M 0 0 l 0 600"></path>
                    <text x="5" y="550" fill="#cccccc">
                        <tspan dx="0">Approx.</tspan>
                        <tspan dx="-53" dy="20">Kinetics</tspan>
                        <tspan dx="-53" dy="20">Start</tspan>
                    </text>
                  </g>
              </svg>
          </div>
          <button id="fit_data" type="button" class="btn btn-warning btn-offig" style="width:900px;display:none;">Fit Data</button>
      </div>
      <div id="fig_h_fit" class="fig_head">
          <span id="fig3"></span>
          <svg id="arrow_to_results" style="position: absolute; left: 400px; top: 300px; display: none;">
              <defs id="defs4">
                <marker style="overflow:visible;" id="Arrow2SendF" refX="0.0" refY="0.0" orient="auto" inkscape:stockid="Arrow2SendF">
                    <path transform="scale(0.3) rotate(180) translate(-2.3,0)" d="M 8.7185878,4.0337352 L -2.2072895,0.016013256 L 8.7185884,-4.0017078 C 6.9730900,-1.6296469 6.9831476,1.6157441 8.7185878,4.0337352 z " style="stroke-linejoin:round;stroke:#800080;stroke-width:0.62500000;fill:#800080;fill-rule:evenodd" id="path4582"></path>
                </marker>
              </defs>
              <g id="layer1" inkscape:groupmode="layer" inkscape:label="Layer 1">
                  <path inkscape:connector-curvature="0" id="path2985" d="m 130,49.505039 0,67.857141" style="stroke-linejoin:miter;marker-end:url(#Arrow2SendF);stroke-opacity:1;stroke:#800080;stroke-linecap:butt;stroke-miterlimit:4;stroke-dasharray:none;stroke-width:15;fill:#800080" />
                  <text xml:space="preserve" style="font-size:32px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#800080;fill-opacity:1;stroke:none;font-family:Arial;-inkscape-font-specification:Sans Bold" id="text2991" sodipodi:linespacing="125%">
                      <tspan sodipodi:role="line" x="215" y="17.505039" id="tspan2995" style="font-size:20px">Cleaning Results</tspan>
                  </text>
                  <text xml:space="preserve" style="font-size:32px;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#800080;fill-opacity:1;stroke:none;font-family:Arial;-inkscape-font-specification:Sans Bold" id="text2992" sodipodi:linespacing="125%">
                      <tspan sodipodi:role="line" x="215" y="40.505039" id="tspan2999" style="font-size:20px">Below</tspan>
                  </text>
              </g>
          </svg>
      </div>

      <div class="page-header">
        <h1>Results</h1>
      </div>

      <div id="results" class="row">
        <div class="col-md-6">
            Noise Threshold:&nbsp;&nbsp;&nbsp;&nbsp;<input id="threshold" style="width:50px;" value="15" />&nbsp;&nbsp;
            <button id="clean_data" type="button" class="btn btn-info" style="width:40%;" disabled=true>Apply Threshold</button>
            <div id="fig4" style="margin-top:10px;"></div>
            <button id="get_clean_data" type="button" class="btn btn-success" style="width:100%;">Download Clean Data</button>
        </div>
        <div class="col-md-6">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Property</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody id="kinetic_variables">
              <tr>
                  <td>Model Used</td>
                  <td id="model_name"></td>
              </tr>
              <tr>
                  <td>t<sub>1</sub> (kinetics start)</td>
                  <td id="t1"></td>
              </tr>
              <tr>
                  <td>t<sub>2</sub> (kinetics end)</td>
                  <td id="t2"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="page-header"></div>

    </div> <!-- /container -->

    <div class="overall">
        <div id="instructions" class="well message">
            <div class="page-header">
                <h1>Instructions</h1>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
        <div id="about" class="well message">
            <div class="page-header">
                <h1>About</h1>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
        <div id="contact" class="well message">
            <div class="page-header">
                <h1>Contact Details</h1>
            </div>
            <p>This software package was written by Oded Rimon, at Dr. Dana Reichmann's Lab.<br>
               <br><u>The Lab is Located at:</u><br>
               Dept. of Biological Chemistry, room 1-626<br>
               The Alexander Silberman Institute of Life Science<br>
               The Hebrew University of Jerusalem<br>
               Givat Ram Campus, Jerusalem, 91904, Israel<br>
               Tel: (+972) 2-658-5703<br>
               <br><u>Email us at:</u><br>
               Oded: <span id="email_oded"></span><br>
               Dana: <span id="email_dana"></span>
            </p>
        </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <!-- JQuery -->
    <script language="javascript" src="bootstrap/js/jquery.js"></script>
    <script language="javascript" src="bootstrap/js/jquery-ui.js"></script>

    <!-- Bootstrap -->
    <script>window.jQuery || document.write('<script src="bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Local Code -->
    <script language="javascript" src="bootstrap/js/fitter.js"></script>
    <script language="javascript" src="bootstrap/js/index.js"></script>
  </body>
</html>
